@charset "UTF-8";


body {
  font-size: 62.5%;
  padding: 20px 0;
  background: #f1f1f1;
}

hr {
  border-color: #66c197;
}

.container-fluid {
  width: 800px;
}
.table {
  margin-bottom: 0;
  border: solid 1px #ccc;
  background: #fff;
}
.table>tbody>tr>td,
.table>thead>tr>th {
  vertical-align: middle;
  border: none;
  padding: 4px;
}
.table>tbody>tr>th {
  text-align: center;
}
.table>tbody>tr>td {
  text-align: left;
  padding: 3px;
}
tr.odd {
  background: #f1f1f1;
}
td.per::before {
  content: "(";
}
td.per::after {
  content: "%)";
}
.btn-satr {
  outline: none;
  background: #66c197;
  color: #fff;
}
.btn-satr:hover,
.btn-satr:active,
.btn-satr:focus {
  outline: none;
  background: #59a985;
  color: #fff;
}
.messages {
  overflow-y: scroll;
  height: 3.5rem;
  margin: 1rem 0;
  padding-bottom: 1rem;
  background: #fff;
  border: solid 1px #ccc;
}
.messages .message {
  padding: 1rem 1rem 0 1rem;
}
