@charset "UTF-8";


body {
  font-size: 62.5%;
  padding: 20px 0;
  background: #f1f1f1;
}

hr {
  border-color: #66c197;
}

.container-fluid {
  width: 800px;
}
.table {
  margin-bottom: 0;
  border: solid 1px #ccc;
  background: #fff;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  text-align: center;
  vertical-align: middle;
  border: none;
  padding: 4px;
}
tr.odd {
  background: #f1f1f1;
}
.btn-satr {
  outline: none;
  background: #66c197;
  color: #fff;
}
.btn-satr:hover,
.btn-satr:active,
.btn-satr:focus {
  outline: none;
  background: #59a985;
  color: #fff;
}
.err {
  margin-top: 1rem;
  font-size: 1.3rem;
}
