<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Satori Mail Analyzer</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/popup.css"/>
</head>
<body id="app">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">

        <button v-if="!loading" class="btn btn-block btn-satr" v-on:click="analyze">
          <i class="fa fa-search"></i> 集計実行
        </button>

        <button v-if="loading" class="btn btn-block">
          <i class="fa fa-spin fa-spinner"></i> 集計中
        </button>

        <div class="messages" v-if="messages.length">
          <div class="message" v-for="msg in messages">{{msg}}</div>
        </div>

        <table v-if="loaded" class="table table-collapsed">
          <thead>
            <tr>
              <th class="subject">件名</th>
              <th>送信数</th>
              <th colspan="2">再送信数（率）</th>
              <th colspan="2">リンククリック（率）</th>
              <th colspan="2">ダウンロード数（率）</th>
              <th colspan="2">開封数（率）</th>
              <th colspan="2">拒否数（率）</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="(subject, data) in subjects">
              <tr v-bind:class="{'odd':$index % 2 == 0}">
                <td class="subject">{{subject}}</td>
                <td>{{data.send}}</td>
                <td class="text-center">{{data.resend}}</td>
                <td class="text-center per">({{data.resend_per}})</td>
                <td class="text-center">{{data.click}}</td>
                <td class="text-center per">({{data.click_per}})</td>
                <td class="text-center">{{data.download}}</td>
                <td class="text-center per">({{data.download_per}})</td>
                <td class="text-center">{{data.open}}</td>
                <td class="text-center per">({{data.open_per}}％)</td>
                <td class="text-center">{{data.reject}}</td>
                <td class="text-center per">({{data.reject_per}}％)</td>
              </tr>
            </template>
          </tbody>
        </table>

      </div><!-- /col -->
    </div><!-- /row -->
  </div><!-- /container-fluid -->

<script src="js/lib/jquery-2.1.1.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script src="js/lib/vue.min.js"></script>
<script src="js/popup.js"></script>
</body>
</html>
